.voter-homepage{
    background-image: url(./images/background.jpg);
    height: 100vh;
}

.voter-hompage__button-container{
    position: fixed;
    top:15px;
    left: 15px;
}

.voter-homepage__card{
    height: 250px;
    width: 200px;
    background-image: url(./images/call-to-action-bg.jpg);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    transition: .5s ease all;
    margin: 20px;
    text-align: center;
}

.voter-homepage__card:hover{
    transform: scaleX(1.05);
    transform: scaleY(1.05);

}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 24px;
}